<!DOCTYPE html>
<html>
<head>
	<title>پروژه کارنامه</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
	<link href="https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.css" rel="stylesheet" type="text/css">
	<style type="text/css">
		.right {
			font-family: Sahel;
			text-align: right;
			direction: rtl;
		}
	</style>
</head>
<body>
	<div id="app">
		<div class="container" :class="{right:rtl}">
			<h1 class="my-4">{{headerMsg}}</h1>
			<select v-model="selectedLanguage">
				<option value="" selected>{{optionMsg}}</option>
				<option v-for="language in languages" :value="language.value">{{language.title}}</option>
			</select>
			<article v-if="info" class="mb-5">
				<img :src="info.url" class="my-3" style="max-width: 600px;">
				<h3>{{info.title}}</h3>
				<time>{{info.date}}</time>
				<p>{{info.explanation}}</p>
			</article>
		</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
	<script type="text/javascript">
		let app = new Vue({
			el: '#app',
			data: {
				headerMsg: "Please Select a Language..",
				optionMsg: "Select a language",
				languages: [
					{title: "English", value: 'en'},
					{title: "Persian", value: 'fa'},
				],
				selectedLanguage: "",
				rtl: false,
				info: "",
			},
			watch: {
				selectedLanguage() {
					axios
						.get('https://silicium.ir/api.php?lang='+this.selectedLanguage)
						.then(response => (this.info = response.data))
						.catch(error => console.log(error))

					if (this.selectedLanguage == 'fa') {
						this.rtl = true
						this. headerMsg = "به سایت من خوش آمدید.."
						this.optionMsg = "یک زبان را انتخاب کنید"
						this.languages = [
							{title: "انگلیسی", value: 'en'},
							{title: "فارسی", value: 'fa'},
						]
					} else {
						this.rtl = false
						this. headerMsg = "Welcome to my site.."
						this.optionMsg = "Select a language"
						this.languages = [
							{title: "English", value: 'en'},
							{title: "Persian", value: 'fa'},
						]
					}
				}
			}
		})
	</script>
</body>
</html>